<!DOCTYPE html>
<html>
<head>
    <title>Filtered Data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img id="logo" src="{{ url_for('static', filename='LCBO_08-1920x1311.jpg') }}" alt="Logo">
            <a href="{{ url_for('index') }}" class="filter-button">Let's Go Back</a> 
        </div>
        <h1>CSV Data Filter</h1>

        <!-- Filter form -->
        <form method="POST" action="{{ url_for('filter_page') }}">
            <label for="filter_column">Select column to filter:</label>
            <select name="filter_column" id="filter_column">
                <option value="Segment">Segment</option>
                <!-- Add other options for your columns if needed -->
            </select>
            <label for="filter_value">Enter filter value:</label>
            <select name="filter_value" id="filter_value">
                <option value="">--All--</option>
                {% for value in unique_values %}
                    <option value="{{ value }}" {% if value == filter_value %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="filter-button">Filter</button>
        </form>

        <!-- Filtered Data -->
        <div class="filtered-data">
            {% for row in data %}
                <div class="item">
                    <h2>{{ row.Name }}</h2>
                    <p>Regular Price: {{ row['Regular Price'] }}</p>
                    <p>Sale Price: {{ row['Sale Price'] }}</p>
                    <p>Rating: {{ row.Rating }}</p>
                    <p>Reviews: {{ row.Reviews }}</p>
                    <p>Size: {{ row.Size }}</p>
                    <p>Description: {{ row.Description }}</p>
                    <p>Category: {{ row.Category }}</p>
                    <p>Alcohol/Vol: {{ row['Alcohol/Vol'] }}</p>
                    <p>Made In: {{ row['Made In'] }}</p>
                    <p>By: {{ row.By }}</p>
                    <p>Varietal: {{ row.Varietal }}</p>
                    <p>Release Date: {{ row['Release Date'] }}</p>
                    <p>Lat: {{ row.Lat }}</p>
                    <p>Lon: {{ row.Lon }}</p>
                    <p>Sugar Content (g/L): {{ row['Sugar Content (g/L)'] }}</p>
                    <p>Segment: {{ row.Segment }}</p>
                    <!-- Render the image link -->
                    <img src="{{ row['Image Link'] }}" alt="{{ row.Name }}">
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
